---
# tasks file for roles/filebeat
- name: create directories
  ansible.builtin.file:
    path: "{{ vars.common.filebeat.app_base_dir }}"
    state: directory

- name: extract compressed apps into /opt/filebeat
  ansible.builtin.unarchive:
    src: "{{ vars.common.filebeat.compressed }}"
    dest: "{{ vars.common.filebeat.app_base_dir }}"
    group: filebeat
    extra_opts: [--strip-components=1]

- name: change file permissions
  ansible.builtin.file:
    path: "{{ item.value.path }}"
    mode: "{{ item.value.mode }}"
  loop: "{{ vars.common.filebeat.conf_files_perm | dict2items }}"

- name: setting conf params
  ansible.builtin.replace:
    path: "{{ vars.common.filebeat.filebeat_regex.path }}"
    regexp: "{{ item.old }}"
    replace: "{{ item.new }}"
  loop: "{{ vars.common.filebeat.filebeat_regex.regex }}"
  notify: restart_service

- name: copying templates
  ansible.builtin.template:
    src: "{{ item.src }}"
    dest: "{{ item.dst }}"
  loop: "{{ vars.common.filebeat.templates }}"

- name: Add filebeat user to systemd-journal group
  user:
    name: filebeat
    groups: systemd-journal
    append: yes

- name: Start and enable service
  systemd:
    name: "{{ vars.common.filebeat.service }}"
    state: started
    enabled: true
    daemon-reload: yes


