kind: EncryptionConfig
apiVersion: v1
resources:
  - resources:
      - secrets
    providers:
      - aescbc:
          keys:
            - name: key1
              secret: Y8B+HfClHSGELyE7Y4LpMgnV0M7L71eA39EqeCy0gK0=
      - identity: {}
