[Unit]
Description=Kubernetes Kubelet
Documentation=https://github.com/kubernetes/kubernetes
After=containerd.service
Requires=containerd.service

[Service]
ExecStart=/usr/local/bin/kubelet \
  --kubeconfig=/var/lib/kubernetes/kubeconfig \
  --bootstrap-kubeconfig=/var/lib/kubernetes/bootstrap-kubeconfig \
  --config=/var/lib/kubernetes/config.yaml \
  --rotate-certificates=true \
  --rotate-server-certificates=true \
  --register-node=true \
  --v=2
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
