---
apiVersion: v1
kind: Config
clusters:
- cluster:
    certificate-authority: {{ kubelet['cluster_files']['ca-cert'].dst }}
    server: https://{{ hostvars[groups['LB'][0]].ansible_host }}:6443
  name: bootstrap

contexts:
- context:
    cluster: bootstrap
    user: kubelet-bootstrap
  name: bootstrap

current-context: bootstrap
preferences: {}

users:
- name: kubelet-bootstrap
  user:
    token: {{ full_token }}

