[Unit]
Description=Kubernetes Kubelet
Documentation=https://github.com/kubernetes/kubernetes
After=containerd.service
Requires=containerd.service

[Service]
ExecStart=/usr/local/bin/kubelet \
  --kubeconfig={{ kubelet['params']["kubeconfig"] }} \
  --bootstrap-kubeconfig={{ kubelet['params']["bootstrap-kubeconfig"] }} \
  --config={{ kubelet['params']["config"] }} \
  --v=2
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
