---
# tasks file for roles/kube-controller-manager
- name: Gather pending CSRs
  command: "/usr/local/bin/kubectl get csr -o name --kubeconfig /var/lib/kubernetes/admin.kubeconfig"
  register: csr
  delegate_to: "{{ groups['KUBE_APISERVER'][0] }}"
  run_once: true

- name: Approve pending CSRs
  command: "/usr/local/bin/kubectl certificate approve {{ item }}"
  loop: "{{ csr.stdout_lines }}"
  delegate_to: "{{ groups['KUBE_APISERVER'][0] }}"
  run_once: true
