[Unit]
Description=Kubernetes API Server
Documentation=https://github.com/kubernetes/kubernetes

[Service]
ExecStart=/usr/local/bin/kube-apiserver \
  --advertise-address={{ ansible_host }} \
  --allow-privileged=true \
  --apiserver-count=3 \
  --audit-log-maxage=30 \
  --audit-log-maxbackup=3 \
  --audit-log-maxsize=100 \
  --audit-log-path=/var/log/audit.log \
  --authorization-mode=Node,RBAC \
  --bind-address=0.0.0.0 \
  --enable-admission-plugins=NodeRestriction,ServiceAccount \
  --enable-bootstrap-token-auth  \
  --etcd-cafile={{ cluster_files["etcd-cafile"].dst }} \
  --etcd-certfile={{ host_files["etcd-certfile"].dst }} \
  --etcd-keyfile={{ host_files["etcd-keyfile"].dst }} \
  --etcd-servers={% for host in groups['ETCD'] -%} https://{{ hostvars[host]['ansible_host'] }}:2379 {%- if not loop.last %},{% endif -%} {%- endfor %} \
  --event-ttl=1h \
  --encryption-provider-config={{ cluster_files["encryption-provider-config"].dst }} \
  --kubelet-certificate-authority={{ cluster_files["kubelet-certificate-authority"].dst }} \
  --kubelet-client-certificate={{ cluster_files["kubelet-client-certificate"].dst }} \
  --kubelet-client-key={{ cluster_files["kubelet-client-key"].dst }} \
  --runtime-config=api/all=true \
  --service-account-issuer=https://{{ ansible_host }}:6443 \
  --service-account-signing-key-file={{ serviceaccount_files["service-account-signing-key-file"].dst }} \
  --service-account-key-file={{ serviceaccount_files["service-account-key-file"].dst }} \
  --service-cluster-ip-range={{ params["service-cluster-ip-range"] }} \
  --service-node-port-range=30000-32767 \
  --client-ca-file={{ cluster_files["client-ca-file"].dst }} \
  --tls-cert-file={{ cluster_files["tls-cert-file"].dst }} \
  --tls-private-key-file={{ cluster_files["tls-private-key-file"].dst }} \
  --v=2
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
