# Ansible managed file: /etc/hosts ({{ ansible_managed }})
127.0.0.1 localhost localhost.localdomain localhost4 localhost4.localdomain4
::1 localhost localhost.localdomain localhost6 localhost6.localdomain6

# Managed hosts from Ansible inventory
{% for item in groups['all'] %}
{% if hostvars[item]['ansible_host'] is defined %}
{{ hostvars[item]['ansible_host'] }} {{ item }} 
{% endif %}
{% endfor %}

