---
apiVersion: v1
kind: Secret
metadata:
  name: bootstrap-token-{{ token_id }}
  namespace: kube-system
type: bootstrap.kubernetes.io/token
stringData:
  token-id: {{ token_id }}
  token-secret: {{ token_secret }}
  expiration: {{ params["expiration"] }}
  usage-bootstrap-authentication: "true"
  usage-bootstrap-signing: "true"
  auth-extra-groups: {{ params["auth-extra-groups"] }}

