[Unit]
Description=Kubernetes Controller Manager
Documentation=https://github.com/kubernetes/kubernetes

[Service]
ExecStart=/usr/local/bin/kube-controller-manager \
  --bind-address=0.0.0.0 \
  --cluster-cidr={{ params["cluster_cidr"] }} \
  --cluster-name={{ params["cluster_name"] }} \
  --cluster-signing-cert-file={{ cluster_files["ca-cert"].dst }} \
  --cluster-signing-key-file={{ cluster_files["ca-key"].dst }} \
  --kubeconfig={{ params["kubeconfig"] }} \
  --leader-elect=true \
  --root-ca-file={{ cluster_files["ca-cert"].dst }} \
  --controllers={{ params["controllers"] }} \
  --cluster-signing-cert-file={{ cluster_files["ca-cert"].dst }} \
  --cluster-signing-key-file={{ cluster_files["ca-key"].dst }} \
  --service-account-private-key-file={{ serviceaccount["service-account-key"].dst }} \
  --service-cluster-ip-range={{ params["service-cluster-ip-range"] }} \
  --use-service-account-credentials=true \
  --v=2
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target

