---
# tasks file for roles/kubelet
- name: disable swap
  shell: |
    swapoff -a

- name: Download binaries
  ansible.builtin.get_url:
    url: "{{ item.src }}"
    dest: "{{ item.dst }}"
    validate_certs: false
    mode: '0655'
  loop: "{{ urls['kubelet'] }}"

- name: create /var/lib/kubernetes/kube-scheduler.kubeconfig
  ansible.builtin.shell: |
    /usr/local/bin/kubectl config set-cluster {{ params['cluster_name'] }} \
      --certificate-authority={{ params["ca_certs"] }} \
      --embed-certs=true \
      --server=127.0.0.1:6443 \
      --kubeconfig={{ params["kubeconfig"] }}

    /usr/local/bin/kubectl config set-credentials {{ params["creds"] }} \
      --client-certificate={{ cluster_files["kubelet-cert"].dst }} \
      --client-key={{ cluster_files["kubelet-key"].dst }} \
      --embed-certs=true \
      --kubeconfig={{ params["kubeconfig"] }}

    /usr/local/bin/kubectl config set-context default \
      --cluster={{ params['cluster_name'] }} \
      --user={{ params["creds"] }} \
      --kubeconfig={{ params["kubeconfig"] }}
    /usr/local/bin/kubectl config use-context default --kubeconfig={{ params["kubeconfig"] }}
  args:
    creates: "{{ params['kubeconfig'] }}"

- name: Read bootstrap token id from Kubernetes
  command: >
    /usr/local/bin/kubectl -n kube-system get secrets -o jsonpath='{.items[?(@.type=="bootstrap.kubernetes.io/token")].metadata.name}'
  register: token_secret_name
  delegate_to: "{{ groups['KUBE_APISERVER'][0] }}"
  run_once: true

- name: Extract token id
  set_fact:
    token_id: "{{ token_secret_name.stdout.split('bootstrap-token-')[1] }}"
  run_once: true

- name: Read token secret value
  command: >
    /usr/local/bin/kubectl -n kube-system get secret bootstrap-token-{{ token_id }}
    -o jsonpath='{.data.token-secret}'
  register: token_secret_b64
  delegate_to: "{{ groups['KUBE_APISERVER'][0] }}"
  run_once: true

- name: Decode token secret and build full token
  set_fact:
    token_secret: "{{ token_secret_b64.stdout | b64decode }}"
  run_once: true

- name: Decode token secret and build full token
  set_fact:
    full_token: "{{ token_id }}.{{ token_secret }}"
  run_once: true

- name: Render bootstrap kubeconfig
  template:
    src: templates/bootstrap-kubeconfig.yaml.j2
    dest: /var/lib/kubelet/bootstrap.kubeconfig
    mode: "0600"

- name: write templates using jinja2
  ansible.builtin.template:
    src: "{{ item.src }}"
    dest: "{{ item.dst }}"
  loop: "{{ templates }}"
  notify: restart_kubelet

- name: Start and enable service
  systemd:
    name: "{{ item }}"
    state: started
    enabled: true
    daemon-reload: yes
  loop: "{{ service_name }}"

