---
# tasks file for roles/kubelet
- name: disable swap
  shell: |
    swapoff -a

- name: create directories
  ansible.builtin.file:
    path: "{{ item.value }}"
    state: directory
  loop: "{{ kubelet['dirs'] | dict2items }}"

- name: Extract archive 1
  ansible.builtin.unarchive:
    src: "{{ item.src }}"
    dest: "{{ item.dst }}"
    mode: 0655
  loop: "{{ kubelet['archive1'] }}"

- name: Extract archive 2
  ansible.builtin.unarchive:
    src: "{{ item.src }}"
    dest: "{{ item.dst }}"
    mode: 0655
    extra_opts: [--strip-components=1]
  loop: "{{ kubelet['archive2'] }}"

- name: copy execs
  ansible.builtin.copy:
    src: "{{ item.src }}"
    dest: "{{ item.dst }}"
    mode: '0655'
  loop: "{{ kubelet['execs'] }}"

- name: copy cert
  ansible.builtin.copy:
    src: "{{ kubelet['cluster_files']['ca-cert'].src }}"
    dest: "{{ kubelet['cluster_files']['ca-cert'].dst }}"

- name: create /var/lib/kubernetes/kubelet.kubeconfig
  ansible.builtin.shell: |
    /usr/local/bin/kubectl config set-cluster {{ kubelet['params']['cluster_name'] }} \
      --certificate-authority={{ kubelet['cluster_files']["ca-cert"].dst }} \
      --embed-certs=true \
      --server=https://127.0.0.1:6443 \
      --kubeconfig={{ kubelet['params']["kubeconfig"] }}

    /usr/local/bin/kubectl config set-credentials {{ kubelet['params']['creds'] }} \
      --client-certificate={{ kubelet['params']["kubelet-cert"] }} \
      --client-key={{ kubelet['params']["kubelet-key"] }} \
      --embed-certs=true \
      --kubeconfig={{ kubelet['params']['kubeconfig'] }}

    /usr/local/bin/kubectl config set-context default \
      --cluster={{ kubelet['params']['cluster_name'] }} \
      --user={{ kubelet['params']["creds"] }} \
      --kubeconfig={{ kubelet['params']["kubeconfig"] }}
    /usr/local/bin/kubectl config use-context default --kubeconfig={{ kubelet['params']['kubeconfig'] }}
  args:
    creates: "{{ kubelet['params']['kubeconfig'] }}"


- name: Read bootstrap token id from Kubernetes
  command: >
    /usr/local/bin/kubectl -n kube-system get secrets -o jsonpath='{.items[?(@.type=="bootstrap.kubernetes.io/token")].metadata.name}'
  register: token_secret_name
  delegate_to: "{{ groups['KUBE_APISERVER'][0] }}"
  run_once: true

- name: Extract token id
  set_fact:
    token_id: "{{ token_secret_name.stdout.split('bootstrap-token-')[1] }}"
  run_once: true

- name: Read token secret value
  command: >
    /usr/local/bin/kubectl -n kube-system get secret bootstrap-token-{{ token_id }}
    -o jsonpath='{.data.token-secret}'
  register: token_secret_b64
  delegate_to: "{{ groups['KUBE_APISERVER'][0] }}"
  run_once: true

- name: Decode token secret and build full token
  set_fact:
    token_secret: "{{ token_secret_b64.stdout | b64decode }}"
  run_once: true

- name: Decode token secret and build full token
  set_fact:
    full_token: "{{ token_id }}.{{ token_secret }}"
  run_once: true

- name: write templates using jinja2
  ansible.builtin.template:
    src: "{{ item.src }}"
    dest: "{{ item.dst }}"
  loop: "{{ kubelet['templates'] }}"
  notify: restart_kubelet

- name: Start and enable service
  systemd:
    name: "{{ item }}"
    state: started
    enabled: true
    daemon-reload: yes
  loop: "{{ kubelet['service_name'] }}"

