---
# tasks file for roles/etcd

- name: create etcd directories
  ansible.builtin.file:
    path: "{{ item.value }}"
    state: directory
  loop: "{{ dirs | dict2items }}"

- name: Extract etcd archive
  ansible.builtin.unarchive:
    src: "files/{{ files.etcd.src }}"
    dest: "{{ files.etcd.dst }}"
    mode: 0655
    extra_opts: [--strip-components=1]

- name: write templates using jinja2
  ansible.builtin.template:
    src: "{{ item.src }}"
    dest: "{{ item.dst }}"
  loop: "{{ templates }}"

- name: copy CA certs
  ansible.builtin.copy:
    src: "{{ item.value.src }}"
    dest: "{{ item.value.dst }}"
  loop: "{{ cluster_files | dict2items }}"

- name: copy server certs
  ansible.builtin.copy:
    src: "{{ item.value.src }}"
    dest: "{{ item.value.dst }}"
  loop: "{{ host_files | dict2items }}"

- name: Start and enable service
  systemd:
    name: "{{ service_name }}"
    state: started
    enabled: true
    daemon-reload: yes

- name: validate TLS handshake to etcd
  shell: |
    openssl s_client -connect {{ item | regex_replace('https://', '') }} \
    -cert {{ host_files['etcdserver-cert'].dst }} \
    -key {{ host_files['etcdserver-key'].dst }} \
    -CAfile {{ cluster_files['etcdca-cert'].dst }} < /dev/null
  loop: "{{ etcd_endpoints }}"



