---
- name: create directories
  ansible.builtin.file:
    path: "{{ item.value }}"
    state: directory
  loop: "{{ dirs | dict2items }}"

- name: write templates using jinja2
  ansible.builtin.template:
    src: "{{ item.src }}"
    dest: "{{ item.dst }}"
  loop: "{{ templates }}"

- name: copy execs 
  ansible.builtin.copy:
    src: "{{ execs['kube-apiserver'].src }}"
    dest: "{{ execs['kube-apiserver'].dst }}"
    mode: '0655'

- name: copy CA certs
  ansible.builtin.copy:
    src: "{{ item.value.src }}"
    dest: "{{ item.value.dst }}"
    mode: '0644'
  loop: "{{ cluster_files | dict2items }}"

- name: copy service-account certs
  ansible.builtin.copy:
    src: "{{ item.value.src }}"
    dest: "{{ item.value.dst }}"
  loop: "{{ serviceaccount | dict2items }}"

- name: copy server certs
  ansible.builtin.copy:
    src: "{{ item.value.src }}"
    dest: "{{ item.value.dst }}"
    mode: '0644'
  loop: "{{ host_files | dict2items }}"

- name: wait for etcd to be healthy
  command: >
    /usr/local/bin/etcdctl --endpoints={{ etcd_endpoints | join(',') }}
    --cacert=/etc/etcd/etcd-ca.crt --cert=/etc/etcd/etcd-server1.crt 
    --key=/etc/etcd/etcd-server1.key
    endpoint health
  register: etcd_health
  delegate_to: "{{ groups['KUBE_APISERVER'][0] }}"
  retries: 10
  run_once: true
  delay: 2
  until: "'is healthy' in etcd_health.stdout"

- name: Start and enable service
  systemd:
    name: "{{ service_name }}"
    state: started
    enabled: true
    daemon-reload: yes

- name: test kube-apiserver-to-kubelet permissions
  command: >
    /usr/local/bin/kubectl auth can-i get nodes/proxy --as kube-apiserver 
  register: auth
  delegate_to: "{{ groups['KUBE_APISERVER'][0] }}"
  ignore_errors: true
  failed_when: auth.rc == 5
  run_once: true

- name: create cluster role binding kube-apiserver-to-kubelet
  command: >
    /usr/local/bin/kubectl create clusterrolebinding kube-apiserver-to-kubelet --clusterrole=system:kubelet-api-admin --user=kube-apiserver
  delegate_to: "{{ groups['KUBE_APISERVER'][0] }}"
  run_once: true
  when: "auth.stdout == 'no'"

