---
# tasks file for roles/admin-account
- name: create directories
  ansible.builtin.file:
    path: "{{ item.value }}"
    state: directory
  loop: "{{ dirs | dict2items }}"

- name: copy execs
  ansible.builtin.copy:
    src: "{{ execs.kubectl.src }}"
    dest: "{{ execs.kubectl.dst }}"
    mode: 0655

- name: copy CA cert
  ansible.builtin.copy:
    src: "{{ cluster_files['ca-cert'].src }}"
    dest: "{{ cluster_files['ca-cert'].dst }}"

- name: copy server certs
  ansible.builtin.copy:
    src: "{{ item.value.src }}"
    dest: "{{ item.value.dst }}"
  loop: "{{ adminaccount | dict2items }}"

- name: Configure admin kubeconfig - cluster
  command: >
    /usr/local/bin/kubectl config set-cluster {{ params['cluster_name'] }}
    --certificate-authority={{ cluster_files['ca-cert'].dst }}
    --embed-certs=true
    --server=https://{{ hostvars[groups['LB'][0]]['ansible_host'] }}:{{ kube_apiserver_port }}
    --kubeconfig={{ admin_kubeconfig }}
  delegate_to: "{{ groups['KUBE_APISERVER'][0] }}"
  run_once: true

- name: Configure admin kubeconfig - credentials
  command: >
    /usr/local/bin/kubectl config set-credentials admin
    --client-certificate={{ adminaccount['admin-account-cert'].dst }}
    --client-key={{ adminaccount['admin-account-key'].dst }}
    --embed-certs=true
    --kubeconfig={{ admin_kubeconfig }}
  delegate_to: "{{ groups['KUBE_APISERVER'][0] }}"
  run_once: true

- name: Configure admin kubeconfig - context
  command: >
    /usr/local/bin/kubectl config set-context default
    --cluster={{ params['cluster_name'] }}
    --user=admin
    --kubeconfig={{ admin_kubeconfig }}
  delegate_to: "{{ groups['KUBE_APISERVER'][0] }}"
  run_once: true

- name: Use admin context
  command: >
    /usr/local/bin/kubectl config use-context default
    --kubeconfig={{ admin_kubeconfig }}
  delegate_to: "{{ groups['KUBE_APISERVER'][0] }}"
  run_once: true

- name: create .kube if not exists
  ansible.builtin.file:
    path: ~root/.kube
    state: directory

- name: Copy admin_kubeconfig
  ansible.builtin.copy:
    src: "{{ admin_kubeconfig }}"
    dest: ~root/.kube/config
    remote_src: true 
  delegate_to: "{{ groups['KUBE_APISERVER'][0] }}"
  run_once: true

