---
# tasks file for roles/kube-controller-manager
- name: create directories
  ansible.builtin.file:
    path: "{{ item.value }}"
    state: directory
  loop: "{{ dirs | dict2items }}"

- name: write templates using jinja2
  ansible.builtin.template:
    src: "{{ item.src }}"
    dest: "{{ item.dst }}"
  loop: "{{ templates }}"

- name: copy execs
  ansible.builtin.copy:
    src: "{{ item.src }}"
    dest: "{{ item.dst }}"
    mode: '0655'
  loop: "{{ execs }}"

- name: copy CA certs
  ansible.builtin.copy:
    src: "{{ item.value.src }}"
    dest: "{{ item.value.dst }}"
    mode: '0644'
  loop: "{{ cluster_files | dict2items }}"

- name: copy cluster certs
  ansible.builtin.copy:
    src: "{{ item.value.src }}"
    dest: "{{ item.value.dst }}"
  loop: "{{ cluster_files | dict2items }}"

- name: copy service-account certs
  ansible.builtin.copy:
    src: "{{ item.value.src }}"
    dest: "{{ item.value.dst }}"
  loop: "{{ serviceaccount | dict2items }}"

- name: create /var/lib/kubernetes/kube-controller-manager.kubeconfig
  ansible.builtin.shell: |
    /usr/local/bin/kubectl config set-cluster {{ params['cluster_name'] }} \
      --certificate-authority={{ cluster_files['ca-cert'].dst }} \
      --embed-certs=true \
      --server=https://127.0.0.1:6443 \
      --kubeconfig={{ params["kubeconfig"] }}

    /usr/local/bin/kubectl config set-credentials {{ params["creds"] }} \
      --client-certificate={{ cluster_files["kube-controller-manager-cert"].dst }} \
      --client-key={{ cluster_files["kube-controller-manager-key"].dst }} \
      --embed-certs=true \
      --kubeconfig={{ params["kubeconfig"] }}

    /usr/local/bin/kubectl config set-context default \
      --cluster={{ params['cluster_name'] }} \
      --user={{ params["creds"] }} \
      --kubeconfig={{ params["kubeconfig"] }}
    /usr/local/bin/kubectl config use-context default --kubeconfig={{ params["kubeconfig"] }}
  args:
    creates: "{{ params['kubeconfig'] }}"

- name: write boostrap templates using jinja2
  ansible.builtin.template:
    src: "{{ item.src }}"
    dest: "{{ item.dst }}"
  delegate_to: "{{ groups['KUBE_APISERVER'][0] }}"
  run_once: true
  loop: "{{ bootstrap_templates }}"

- name: write templates using jinja2
  ansible.builtin.template:
    src: "{{ item.src }}"
    dest: "{{ item.dst }}"
  loop: "{{ templates }}"
  notify: restart_controller_manager

- name: Start and enable service
  systemd:
    name: "{{ service_name }}"
    state: started
    enabled: true
    daemon-reload: yes

- name: create bootstrap token config
  block:
    - name: Check if any bootstrap token secret exists
      command: >
        /usr/local/bin/kubectl -n kube-system get secrets
        -o jsonpath='{.items[?(@.type=="bootstrap.kubernetes.io/token")].metadata.name}'
      register: bootstrap_secret_check
      changed_when: false
      failed_when: false
    
    - name: Set fact if bootstrap token exists
      set_fact:
        bootstrap_token_exists: "{{ bootstrap_secret_check.stdout | trim != '' }}"
    
    - name: Debug result
      debug:
        msg: >
          Bootstrap token exists: {{ bootstrap_token_exists }}
  delegate_to: "{{ groups['KUBE_APISERVER'][0] }}"
  run_once: true
  tags: step

- name: create bootstrap token config
  block:
    - name: Generate bootstrap token id
      command: openssl rand -hex 3
      register: token_id
      changed_when: false
    
    - name: Generate bootstrap token secret
      command: openssl rand -hex 8
      register: token_secret
      changed_when: false
    
    - name: Set bootstrap token facts
      set_fact:
        token_id: "{{ token_id.stdout }}"
        token_secret: "{{ token_secret.stdout }}"
        full_token: "{{ token_id.stdout }}.{{ token_secret.stdout }}"
    
    - name: Render bootstrap token secret
      template:
        src: templates/bootstrap-token.yaml.j2
        dest: "{{ params['token_file'] }}"

    - name: Apply bootstrap token secret
      command: "/usr/local/bin/kubectl apply -f {{ params['token_file'] }}"
      loop: "{{ bootstrap_templates }}"

    - name: Apply bootstrap approval role bindings
      command: "/usr/local/bin/kubectl apply -f {{ item.dst }}"
      loop: "{{ bootstrap_templates }}"

    - name: Apply all pending certificates
      command: "/usr/local/bin/kubectl kubectl certificate approve $(/usr/local/bin/kubectl get csr -o name)"
      loop: "{{ bootstrap_templates }}"

  delegate_to: "{{ groups['KUBE_APISERVER'][0] }}"
  run_once: true
  when: "bootstrap_token_exists == false"
  tags: step
