---
# tasks file for roles/kube-controller-manager

- name: Download binaries
  ansible.builtin.get_url:
    url: "{{ item.value.src }}"
    dest: "{{ item.value.dst }}"
    validate_certs: false
    mode: '0655'
  loop: "{{ urls | dict2items }}"

- name: write templates using jinja2
  ansible.builtin.template:
    src: "{{ item.src }}"
    dest: "{{ item.dst }}"
  loop: "{{ templates }}"
  notify: restart_controller_manager

- name: copy cluster certs
  ansible.builtin.copy:
    src: "{{ item.value.src }}"
    dest: "{{ item.value.dst }}"
  loop: "{{ cluster_files | dict2items }}"

- name: create /var/lib/kubernetes/kube-controller-manager.kubeconfig
  ansible.builtin.shell: |
    kubectl config set-cluster {{ params['cluster_name'] }} \
      --certificate-authority={{ params['root-ca-file'] }} \
      --embed-certs=true \
      --server=127.0.0.1:6443 \
      --kubeconfig={{ params["kubeconfig"] }}

    kubectl config set-credentials {{ params["creds"]}} \
      --client-certificate={{ cluster_files["kube-controller-manager-cert"].dst }} \
      --client-key={{ cluster_files["kube-controller-manager-key"].dst }} \
      --embed-certs=true \
      --kubeconfig={{ params["kubeconfig"] }}

    kubectl config set-context default \
      --cluster={{ params['cluster_name'] }} \
      --user={{ params["creds"] }} \
      --kubeconfig={{ params["kubeconfig"] }}
    kubectl config use-context default --kubeconfig={{ params["kubeconfig"] }}
  args:
    creates: "{{ params['kubeconfig'] }}"

- name: Start and enable service
  systemd:
    name: "{{ service_name }}"
    state: started
    enabled: true
    daemon-reload: yes

- name: Check if file exists
  ansible.builtin.stat:
    path: "{{ params['token_file'] }}"
  register: token_file_check

- name: Set variable if file exists
  ansible.builtin.set_fact:
    token_file_exists: "{{ token_file_check.stat.exists }}"

- name: create bootstrap token config
  block:
    - name: Generate bootstrap token id
      command: openssl rand -hex 3
      register: token_id
      changed_when: false
    
    - name: Generate bootstrap token secret
      command: openssl rand -hex 8
      register: token_secret
      changed_when: false
    
    - name: Set bootstrap token facts
      set_fact:
        token_id: "{{ token_id.stdout }}"
        token_secret: "{{ token_secret.stdout }}"
        full_token: "{{ token_id.stdout }}.{{ token_secret.stdout }}"
    
    - name: Render bootstrap token secret
      template:
        src: templates/bootstrap-token.yaml.j2
        dest: "{{ params['token_file'] }}"

    - name: Apply bootstrap token secret
      command: "kubectl apply -f {{ params['token_file'] }}"

  delegate_to: "{{ groups['KUBE_APISERVER'][0] }}"
  run_once: true
  when: token_file_exists == False



